<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="min-h-screen flex flex-col ">
    <div class="flex flex-col flex-grow">
        <div class="head flex bg-green-800/70 p-3 justify-between">
            <header class="flex">
                <img th:src="@{/Emblem_of_Telangana.svg.png}" alt="Emblem_of_Telangana" class="w-auto h-12">
                <p class="text-2xl md:text-3xl content-center pl-3">Governament of Telangana</p>
            </header>
            <nav class="content-center">
                <div class="menulogo items-center flex-col pl-3 md:hidden">
                    <div class="border border-white m-1 w-5"></div>
                    <div class="border border-white m-1 w-5"></div>
                    <div class="border border-white m-1 w-5"></div>
                </div>
                <div class="menu hidden md:flex">
                    <ul class="md:flex">
                        <li class="p-2 hover:underline hover:underline-offset-4">Home</li>
                        <li class="p-2 hover:underline hover:underline-offset-4">About us</li>
                        <li class="p-2 hover:underline hover:underline-offset-4">Contact us</li>
                        <li class="p-2 hover:underline hover:underline-offset-4">Upcoming Schemes</li>
                        <li class="p-2 hover:underline hover:underline-offset-4">Scholarship</li>
                    </ul>
                </div>
            </nav>
        </div>
        <main class=" flex flex-grow bg-green-50" >
            <div
                class="form w-full md:w-[75vw] m-auto p-10 shadow-xl md:py-20 md:px-30 shadow-gray-400 justify-center bg-white">
                <table class="min-w-full border border-gray-300 text-center text-sm">
                    <thead class="bg-green-800 text-white uppercase text-sm">
                        <tr>
                            <th class="px-4 py-3 border-r border-gray-300">Name</th>
                            <th class="px-4 py-3 border-r border-gray-300">E-mail</th>
                            <th class="px-4 py-3 border-r border-gray-300">Delete</th>
                            <th class="px-4 py-3">Update</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr class="hover:bg-green-50 transition duration-150"  th:each="user: ${allusers}" th:object="${user}">
                            <td class="px-4 py-3" th:text="*{name}"></td>
                            <td class="px-4 py-3" th:text="*{email}"></td>
                            <td class="px-4 py-3 text-red-600 hover:underline hover:underline-offset-2 cursor-pointer">
                                <a th:href="@{/delete/user/{id}(id=*{id})}">Delete</a></td>
                            <td class="px-4 py-3 text-blue-600 hover:underline hover:underline-offset-2 cursor-pointer">
                                <a th:href="@{/edit/user/{id}(id=*{id})}">Update</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer class="md:bg-green-800/70 p-5">
            <hr class="md:hidden">
            <P class="text-center ">2025 Telangana Governament</P>
        </footer>
    </div>
</body>

</html>